@page
@model Raul_Moldovan_Medii.Pages.Mechanics.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mechanic</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mechanic.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mechanic.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mechanic.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mechanic.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mechanic.Specialization)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mechanic.Specialization)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Mechanic.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
