@page
@model Raul_Moldovan_Medii.Pages.Appointments.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.AppointmentDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.AppointmentDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Client.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Car)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Car.Make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Mechanic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Mechanic.FirstName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Appointment.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
