@page
@model Raul_Moldovan_Medii.Pages.Appointments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].AppointmentDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Mechanic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Appointment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mechanic.FirstName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
